{%extends 'base.html'%}
{%block content%}
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
              
              <div class="row">
              <!-- Upper row -->
                <!-- Janitors -->
                <div class="col-md-6 col-lg-4 mb-4 ">
                    <div class="card h-100">
                      <div class="card-header">
                        <div class=" d-flex align-items-center justify-content-between" style="margin:auto">
                          <span class="d-flex align-items-center">
                            <i class="bx bx-happy-beaming bx-md me-3" style="color:#59C1BD"></i>
                            <h3 class="card-title m-0 me-2">NV gom rác</h3>
                          </span>
                          <input type="text" id="janSearch" placeholder="Tìm..." class="styleSearch">
                        </div>
                      </div>
                          <!-- Janitors Table -->
                                <div class="card-body table-responsive text-nowrap">
                                  <div>
                                    <table class="table table-hover" id = "janTable" style="border-color:#d9dee3">
                                      <thead>
                                      <tr>
                                          <th style="text-align:center">Tên</th>
                                          <th style="text-align:center">Hành động</th>
                                      </tr>
                                      </thead>
                                      <tbody class="table-border-bottom-0">
                                        {%for janitor in janitors%}
                                        <tr><a href="janitor.html">
                                            <td>{{janitor.name}}</td>
                                            <td>
                                              <a href="{%url 'janitor' janitor.id date%}"><button 
                                                type="button" 
                                                class="btn btn-sm rounded-pill btn-outline-success">Xem</button></a>
                                                <a href="{%url 'chat' janitor.id%}"><button 
                                                  type="button" 
                                                  class="btn btn-sm rounded-pill btn-outline-primary">Gửi tin nhắn</button></a>
                                            </td>
                                          </a>
                                        </tr>
                                        {%endfor%}
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                          <!--/ Janitors Table -->
                      
                    </div>
                </div>
                <!--/ Janitors -->

                <!-- Collectors -->
                <div class="col-md-6 col-lg-4 mb-4 ">
                  <div class="card h-100">
                    <div class="card-header">
                        <div class=" d-flex align-items-center justify-content-between" style="margin:auto">
                          <span class="d-flex align-items-center">
                            <i class="bx bx-cool bx-md me-3" style="color:#59C1BD"></i>
                            <h3 class="card-title m-0 me-2">NV lái xe</h3>
                          </span>
                          <input type="text" id="colSearch" placeholder="Tìm..." class="styleSearch">
                        </div>
                    </div>
                        <!-- Collectors Table -->
                                <div class="card-body table-responsive text-nowrap">
                                  <div>
                                    <table class="table table-hover" id = "colTable" style="border-color:#d9dee3">
                                      <thead>
                                      <tr>
                                          <th style="text-align:center">Tên</th>
                                          <th style="text-align:center">Hành động</th>
                                      </tr>
                                      </thead>
                                      <tbody class="table-border-bottom-0">
                                        
                                        {%for collector in collectors%}
                                        <tr>
                                            <td>{{collector.name}}</a></td>
                                            <td>
                                              <a href="{%url 'collector' collector.id date%}"><button 
                                                type="button" 
                                                class="btn btn-sm rounded-pill btn-outline-success">Xem</button></a>
                                                <a href="{%url 'chat' collector.id%}"><button 
                                                  type="button" 
                                                  class="btn btn-sm rounded-pill btn-outline-primary">Gửi tin nhắn</button></a>
                                            </td>
                                        </tr>
                                        {%endfor%}
                                      </tbody>
                                    </table>
                                </div>
                                </div>
                        <!--/ Collectors Table -->
                    
                  </div>
                </div>
                <!--/ Collectors -->

                <!-- Areas -->
                <div class="col-md-6 col-lg-4 mb-4 ">
                  <div class="card h-100">
                    <div class="card-header">
                        <div class=" d-flex align-items-center justify-content-between" style="margin:auto">
                          <span class="d-flex align-items-center">
                            <i class="bx bx-map bx-md me-3" style="color:#F08A5D"></i>
                            <h3 class="card-title m-0 me-2">Khu vực</h3>
                          </span>
                          <input type="text" id="areaSearch" placeholder="Tìm..." class="styleSearch">
                        </div>
                    </div>
                        <!-- Areas Table -->
                                <div class="card-body table-responsive text-nowrap">
                                  
                                <table class="table table-hover" id="areaTable" style="border-color:#d9dee3">
                                    <thead>
                                    <tr>
                                        <th style="text-align:center">Tên</th>
                                        <th style="text-align:center">NV gom rác</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0">
                                    {%for area in area_list%}
                                    <tr>
                                        <td>{{area.name}}</td>
                                        <td>
                                          {{area.janitor}}
                                        </td>
                                    </tr>
                                    {%endfor%}
                                    </tbody>
                                  </table>
                                
                                </div>
                        <!--/ Areas Table -->
                    
                  </div>
                </div>
                <!--/ Areas -->
              
              <!-- Under row -->
              
                <!-- Trolleys and Vehicles -->
                <div class="col-md-6 col-lg-5 ">
                  <div class="row">
                    <!-- Trolleys -->
                    <div class="col-12 mb-4">
                      <div class="card h-100">
                        <div class="card-header">
                            <div class=" d-flex align-items-center justify-content-between" style="margin:auto">
                              <span class="d-flex align-items-center">
                                <i class="bx bx-cart-alt bx-md me-3" style="color:#17B978"></i>
                                <h3 class="card-title m-0 me-2">Xe gom rác</h3>
                              </span>
                              <input type="text" id="trolleySearch" placeholder="Tìm..." class="styleSearch">
                            </div>
                        </div>
                            <!-- Trolleys Table -->
                                    <div class="card-body table-responsive text-nowrap">
                                    <!-- <table class="table table-hover">
                                    </table> -->
                                        <table class="table table-hover" id="trolleyTable" style="border-color:#d9dee3">
                                          <thead>
                                          <tr>
                                              <th style="text-align:center">Mã số</th>
                                              <th style="text-align:center">Trạng thái</th>
                                          </tr>
                                          </thead>
                                          <tbody class="table-border-bottom-0">
                                            {%for trolley in trolley_list%}
                                            <tr>
                                                <td>{{trolley.name}}</a></td>
                                                <td>
                                                  {{trolley.janitor}}
                                                </td>
                                            </tr>
                                            {%endfor%}
                                          </tbody>
                                        
                                        </table>
                                      
                                    </div>
                            <!--/ Trolleys Table -->
                        
                      </div>
                    </div>
                    <!-- /Trolleys -->
                    <!-- Vehicles -->
                    <div class="col-12 mb-4">
                      <div class="card h-100">
                        <div class="card-header">
                            <div class=" d-flex align-items-center justify-content-between" style="margin:auto">
                              <span class="d-flex align-items-center">
                                <i class="bx bx-car bx-md me-3" style="color:#10DDC2"></i>
                                <h3 class="card-title m-0 me-2">Xe chở rác</h3>
                              </span>
                              <input type="text" id="vehicleSearch" placeholder="Tìm..." class="styleSearch">
                            </div>
                        </div>
                            <!-- Vehicles Table -->
                                    <div class="card-body table-responsive text-nowrap">
                                        <table class="table table-hover" id="vehicleTable" style="border-color:#d9dee3">
                                            <thead>
                                            <tr>
                                                <th style="text-align:center">Mã số</th>
                                                <th style="text-align:center">Trạng thái</th>
                                                <th style="text-align:center">Hành động</th>
                                            </tr>
                                            </thead>
                                            <tbody class="table-border-bottom-0">
                                              {%for vehicle in vehicle_list%}
                                            <tr>
                                                <td>{{vehicle.name}}</a></td>
                                                <td>
                                                  {{vehicle.collector}}
                                                </td>
                                                <td>
                                                  <button 
                                                    type="button" 
                                                    class="btn btn-sm rounded-pill btn-outline-success"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#viewVehicle{{vehicle.id}}">Xem</button>
                                                </td>
                                            </tr>
                                            {%endfor%}
                                            </tbody>
                                        </table>
                                      
                                    </div>
                            <!--/ Vehicles Table -->
                        
                      </div>
                    </div>
                    <!-- Modal view vehicle -->
                    {%for vehicle in vehicles%}
                    <div class="modal fade" id="viewVehicle{{vehicle.id}}" tabindex="-1" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h3 class="modal-title" id="modalCenterTitle">Thông tin xe chở rác</h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">
                            
                      <dl class="row mt-2">
                        <dt class="col-sm-5">Mã số</dt>
                        <dd class="col-sm-7">{{vehicle.id}}</dd>
                      
                        <dt class="col-sm-5">Trọng lượng</dt>
                        <dd class="col-sm-7">{{vehicle.weight}}</dd>
                        
                        <dt class="col-sm-5">Sức chứa</dt>
                        <dd class="col-sm-7">{{vehicle.capacity}}</dd>
                        
                        <dt class="col-sm-5">Mức tiêu thụ nhiên liệu</dt>
                        <dd class="col-sm-7">{{vehicle.fuel_cons}}</dd>
                      </dl>
                          </div>
                        </div>
                      </div>
                    </div>
                    {%endfor%}
                    <!-- /Modal view vehicle -->
                    <!-- Vehicles -->
                  </div>
                </div>
                <!--/ Trolleys and Vehicles -->

                <!-- MCP -->
                <div class="col-md-6 col-lg-7 mb-4 ">
                  <div class="card h-100">
                    <div class="card-header">
                        <div class=" d-flex align-items-center justify-content-between" style="margin:auto">
                          <span class="d-flex align-items-center">
                            <i class="bx bx-trash bx-md me-3" style="color:#D49A89"></i>
                            <h3 class="card-title m-0 me-2">MCPs</h3>
                          </span>
                          <input type="text" id="mcpSearch" placeholder="Tìm..." class="styleSearch">
                        </div>
                    </div>
                        <!-- MCPs Table -->
                                <div class="card-body table-responsive text-nowrap">
                                <table class="table table-hover" id="mcpTable" style="border-color:#d9dee3">
                                    <thead>
                                    <tr>
                                        <th style="text-align:center">Tên</th>
                                        <th style="text-align:center">NV gom rác</th>
                                        <th style="text-align:center">NV lái xe</th>
                                        <th style="text-align:center">Mức độ đầy</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0">
                                      {%for mcp in mcp_list%}
                                    <tr>
                                        <td style="width:10%; text-align:left">{{mcp.name}}</a></td>
                                        <td>
                                          {{mcp.janitor}}
                                        </td>
                                        <td>
                                          {{mcp.collector}}
                                        </td>
                                        <td style="width:10%">
                                          {{mcp.capacity}}%
                                        </td>
                                    </tr>
                                    {%endfor%}
                                    </tbody>
                                  </table>
                               
                                </div>
                        <!--/ MCPs Table -->
                    
                  </div>
                </div>
                <!-- /MCP -->

            
            
              
              </div>
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          
            </div>
          </div>
          <!-- Content wrapper -->
{%endblock content%}

